



@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


.live__team{
    margin-top: 200px;
}


.team_name{
    text-align: center;
    color: white;
    font-size: 31px;
    margin-top: 30px;
}

.team_name span{
    color: #C0013A;
}


.Team__title{
    text-align: center;
    font-size: 72px;
    color: white;
    font-family: 'Righteous', cursive;
    margin-bottom: 100px;
}
.Team__title span{
   color: #C0013A;
}


.single__img img{
    border: 6px solid #C0013A;
    border-radius: 20px;
    width: 100%;
   
}
.team_wrapper{
   text-align: center;
   
}


@media only screen and (max-width: 991px){
    .Team__title{
        font-size: 40px;
    }

    .team_name{
        font-size: 20px;
    }
    
}
