.modal_wrapper{
    position: fixed;
    top: 30%;
    left: 33%;
     z-index: 4;
     color: white;
     border-radius: 30px;
     margin-top: 30px;
     background: #000000d0;
     margin: 1em;
     padding:150px 30px;
}



.modal_wrapper p{
    color: white;
    text-align: center;
    margin-top: 40px;
    font-size: 24px;
}

.closeModal{
    top: -2px;
    position: absolute;
    left: 0;
    cursor: pointer;
    padding: 20px;

}