.game-background{
    border: 1.5px solid;
    background: linear-gradient(13.31deg, #000000 2.76%, rgba(6, 125, 113, 1) 80.27%);
    border-radius: 50px;
    width: 500px;
    height: 165px;
    padding: 29px 53px;
    
}

.assets{
    background: linear-gradient(142.04deg, rgba(170, 1, 1, 0) -42.46%, rgba(21, 21, 21, 0.6) 34.86%);
}





@media only screen and (max-width: 768px){
    .game-background{
        width: 100%;
        height: 100px;
    
    }
}