

@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');


.Game_banner{
    background: url('../Assets/Images/bg1.png');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 50vh; 
    overflow: hidden;
    padding-top: 400px;
    width: 100%;
}

.banner_pic{
   
    top: 60%;
    left: 0;
    right: 0;
    margin-left: 107px;
    margin-bottom: 500px;
     position: absolute;
     border-radius: 50px;
     border: 9px solid #AF0000;
     text-align: center   
}


.space_header{
    font-family: 'Righteous', cursive;
    margin-top: 150px;
    font-size: 33px;
    text-align: left;
}


.shooter_desc{
    font-size: 25px;
    margin-top: 55px;
}

.space_{
    color: #AF0000;
}




.filter__right select{
   width:134px;
   height:49.89px;
    font-size: 1rem;
    cursor: pointer;
    border: 1px solid #FF1E1E;
    outline: none;
    border-radius: 8px;
    background: transparent;
    color: gray;

}


.btn_active{
    color: white;
    border: 2px solid #C0013A;
    border-radius: 8px;
    padding:0 14px;

}





.filter_wrapper{
    display: grid;
    grid-auto-flow: column;
    color: white;
    gap: 40px;
    margin-top: 25px;
}

.filter_btn{
    color: white;
    border: 2px solid #C0013A;
    border-radius: 8px;
    padding:0 14px;
}

.filter_btn:hover{
    background-color: #C0013A;
    color: white;
    box-shadow: 10px 10px 42px 0px rgba(255, 30, 30, 0.5);
}

.game_img{
    border-radius: 19px;
    border: 4px solid #C0013A;

}



@media only screen and (max-width: 991px) {
    .filter_wrapper{
        display: grid;
       grid-template-columns: repeat(3, minmax(0, 1fr));
       grid-auto-flow: row;
    }

    ._wrapper{
        display: block !important;
    }

    .select_wrapper{
        display: flex;
        justify-content: space-between;
    }

    .banner_pic{
        top: 53%;
    }
    .shooter_desc{
        text-align: center;
    }

    .game_img{
        width: 100%;
    
    }

    .filter_btn{
        padding: 10px 2px !important;
    }

    
    


}
@media only screen and (max-width: 551px) {
    .filter_wrapper{
        display: grid;
        grid-template-columns: repeat(2, minmax(0, 1fr)) !important;
        grid-auto-flow: row;
        justify-content: center;
        align-items: center;
    }

    


    .shooter_desc{
        font-size: 12px;
        text-align: center;
    }

    .banner_pic{
        text-align: center;
        margin: auto;
    }

    
    .filter_btn{
        padding: 5px 2px !important;
    }
    



}

