

/* @import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap'); */


.home_store{
    margin-top: 200px;
}

.store_title{
    font-size: 72px;
    color: white;
    text-align: center;
    margin-bottom: 170px;
   
}

.store_title span{
    color: #C0013A;
}

.view_btn{
    padding: 4px 55px;
    border: 1px solid #C0013A;
    background: transparent;
    margin-top: 35px;
    color: white;
    font-size: 23px;
    border-radius: 4px;
}


.view_btn:hover{
    background: #C0013A;
}

.price_wrapper{
    font-size: 20px;
}


.image-area{
    text-align: center;
    position: relative;
}

.image-area img{
    width: 100%;
    height: auto;
}

.img-btn2,
.image-area:after{
    width: 100%;
    position: absolute;
    text-align: center;
    left: 0;
    opacity: 0.8;
}


.img-btn2:before:after{
    opacity:0 ;
}

.image-area:after{
    content: "";
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    
}

.image-area:hover:after{
   background: rgba(173, 29, 29, 0.6)

}

.img-btn2{
    z-index: 1;
    margin-bottom: 20px;
    bottom: 30%;
    text-align: center;
    transform: translateY(145px);
    transition: all .5s cubic-bezier(.13,.62,.81,.91) 0s;
    position: absolute;
    padding: 10px 40px !important;
    
    
}
.img-btn2 button{
    padding: 10px 40px !important;
    border: none;
    outline: none;
    background: #C0013A9E;
}


.img-btn2 .hover_btn1{
    margin-right: 50px;
}


.image-area:hover .img-btn2{
    transform: translateY(0);
    opacity: 1;

}



.image-area .img-btn2{
    opacity: 0;
}


@media only screen and (max-width: 820px){
    .img-btn2{
        z-index: 1;
        margin-bottom: 20px;
        bottom: 30%;
        position: absolute
        
    }


    .store_title{
        font-size: 42px;
       
    }


    .img-btn2 .hover_btn1{
        margin-right: 10px;
    }


    .img-btn2 button{
        padding: 5px 30px !important;
       
    }
    
    

}



@media only screen and (max-width: 768px){
    .img-btn2{
        z-index: 1;
        margin-bottom: 20px;
        bottom: 5%;
        position: absolute
        
    }

    .img-btn2 button{
        padding: 5px 10px !important;
       
    }

}